.App{
  background: skyblue;
  text-align: center;
}

.navbar{
  color:blue;
  margin: 10px;
  text-align: left;
  border: 1px;
  border-color: blue;
}

.leftside{
  display:flex;
  flex-direction: row;
  padding: 10px;
  margin: 2px;
  color: blue;
}

.input{
  color: azure;
  justify-content: center;
}

.wrapper{
  background: rgb(139, 144, 238);
}

.form{
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 2px;
  background: none;
  border-style: double;
}

.input{
  margin: 2px;
  padding: 2px;
}

.btn{
  margin: 5px;
  padding: 5px;
  color: blue;
  background-color: azure;
}
